<div class="modal-list-item">
	<h5>{{title}}</h5>
	<div class="modal-list-item-info">
		<span>{{size}}</span>
		<button type="button" class="btn btn-info torrent-selection-button" data-magnet="{{download}}" data-dismiss="modal">Download</button>
	</div>
</div>