<div class="list-torrent">
	<h5>{{title}}</h5>
	<div class="torrent-info">
		<span>{{size}}</span>
		<button type="button" class="btn btn-info torrent-selection-button" data-magnet="{{download}}" data-dismiss="modal">Download</button>
	</div>
</div>