<div class="modal fade" id="add-movie-modal" tabindex="-1" role="dialog" aria-labelledby="add-movie-modal-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="add-movie-modal-label">Add New Movie</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Enter the magnet url of the new movie to add</p>
				<textarea rows="7" id="new-movie-magnet-link" autocomplete="off" placeholder="Magnet URL..." required></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" id="add-torrent-url-button">Add</button>
			</div>
		</div>
	</div>
</div>