<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
	<link rel="stylesheet" type="text/css" href="/public/css/pages/home.css">
	<script src="/public/js/pages/home.js"></script>
	<title>Home | Show Tracker</title>
</head>
<body>
	{{!-- MODALS --}}
	{{> modals/newShowSearch }}
	{{> modals/newShowResults }}
	{{> modals/torrentSearchResults }}
	{{> modals/requestProcessor }}

	<div class="container">
		{{> nav}}
		
		{{!-- EPISODES --}}
		<div id="episodes-container">
			{{#each episodes}} 
				{{> episode }}
			{{/each}}
		</div>
	</div>
	<div class="version-number">{{version}}</div>
</body>
</html>