<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
	<link rel="stylesheet" type="text/css" href="/public/css/pages/home.css">
	<script src="/public/js/pages/home.js"></script>
	<title>Home | Show Tracker</title>
</head>
<body>
	{{!-- MODALS --}}
	{{> modals/newShowSearch }}
	{{> modals/newShowResults }}
	{{> modals/torrentSearchResults }}

	<div class="container">
		<div class="basic-nav">
			<a href="/"><img src="/public/images/logo.png" alt="Logo" class="site-logo"> <h3 style="display:inline-block"> Show Tracker</h3></a>
			 {{!-- POST PROCESSING --}}
			<div class="nav-button">
				<input class="btn btn-info" id="post-processing-button" type="button" value="Force Post Processing">
			</div>
			 {{!-- FORCE UPDATE --}}
			<div class="nav-button">
				<input class="btn btn-info" id="force-update-button" type="button" value="Force Update All">
			</div>
			{{!-- ADD SHOW --}}
			<div class="nav-button">
				<input class="btn btn-info" id="add-show-button" type="button" value="Add New Show" data-toggle="modal" data-target="#search-modal">
			</div>
			{{!-- SHOWS DROP DOWN --}}
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle nav-show-selection" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
					Shows
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<button class="dropdown-item" data-show_id="0">All</button>
					<div class="dropdown-divider"></div>
					{{#each shows}}
						{{> show_dropdown}}
					{{/each}}
				</div>
			</div>			
		</div>
		
		{{!-- EPISODES --}}
		<div id="episodes-container">
			{{#each episodes}} 
				{{> episode }}
			{{/each}}
		</div>
	</div>
</body>
</html>