<!DOCTYPE html>
<html lang="en">

<head>
	{{> head }}
	<script src="/public/js/pages/torrents.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/table-style.css">
	<link rel="stylesheet" type="text/css" href="/public/css/pages/home.css">
	<link rel="stylesheet" type="text/css" href="/public/css/pages/torrents.css">
	<title>Torrents | Show Tracker</title>
</head>

<body>
	{{!-- MODALS --}}
	{{> modals/requestProcessor }}
	{{> modals/addMovieForm }}
	 {{> modals/torrentControls }}

	<div class="container">
		<div class="basic-nav">
			<a href="/">
				<img src="/public/images/logo.png" alt="Logo" class="site-logo">
				<h3 style="display: inline-block">Show Tracker | Torrents</h3>
			</a>
			<input class="btn btn-info" id="add-movie-button" type="button" value="Add Movie">
			<input class="btn btn-warning" id="pause-all-button" type="button" value="Pause All">
			<input class="btn btn-success" id="play-all-button" type="button" value="Play All">
		</div>
		
		<table class="table" id="torrents-table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Id</th>
					<th scope="col">Download Rate</th>
					<th scope="col">Progress</th>
					<th scope="col">ETA</th>
				</tr>
			</thead>
			<tbody id="torrents-table-body">
			</tbody>
		</table>
	</div>
</body>

</html>